a {
	text-decoration: none !important;
	color: white;
}

body {
	color: white;
}

p {
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0;
	margin-inline-end: 0;
}

#fall {
	width: 100%;
	margin-bottom: 20px;
}

#power {
	width: 100%;
	margin-bottom: 20px;
}

#thailand {
	width: 100%;
	margin-bottom: 20px;
}

#warrior {
	width: 100%;
	margin-bottom: 20px;
}

#warrior img {
	width: 100%;
}

#fall img {
	width: 100%;
}

#thailand img {
	width: 100%;
}

#power img {
	width: 100%;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: rgb(0,0,0,0.7);
}

#fall:hover .overlay {
	opacity: 1;
}

#power:hover .overlay {
	opacity: 1;
}

#warrior:hover .overlay {
	opacity: 1;
}

#thailand:hover .overlay {
	opacity: 1;
}

.image {
	display: block;
	width: 100%;
	height: auto;
}

.text {
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}





